<div class="page" data-name="opticiens" ng-controller="OpticiensController" ng-init="init()">
	<div class="navbar">
		<div class="navbar-bg"></div>
		<div class="navbar-inner sliding">
			<div class="left">
				<a href="#" class="link back">
					<i class="icon icon-back"></i>
					<span class="if-not-md">Back</span>
				</a>
			</div>
			<div class="title">Trouver mon opticien</div>
			<div class="right">
				<a href="#" class="link" ng-click="init()">
					<div class="f7-icons">arrow_counterclockwise</div>
				</a>
			</div>
		</div>
	</div>
	<div class="page-content">

        <div style="padding-left: 15px; padding-right: 15px; background-color: #F2F2F2; padding-bottom: 80px;">
            <div class="f7-icons place_icon">placemark</div>
            <div class="searchpro2" ng-click="filter=!filter"><i class="f7-icons">search</i></div>
            <div style="width:calc(100% - 40px)">
                <button class="col button button-raised button-fill button-round" style="margin-top:15px; text-transform: none; color: #bbc6ff;">Localiser ma position</button>
            </div>
            
            <form class="list" id="my-form" style="margin-top: 0px; margin-bottom: 15px;" ng-show="filter">
                <div id="login_form">
                    <ul>
                        <li class="item-content item-input">
                            <div class="item-inner">
                                <div class="item-input-wrap">
                                    <input type="text" placeholder="Votre recherche ..." ng-model="search" />
                                    <span class="input-clear-button"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </form>

            <div class="op_text_circle">
                <div class="title">DECOUVREZ</div>
                <div class="content">
                    Des professionnels de santé diplômés qui prennent le temps de découvrir vos besoins, de vous proposer l'équipement adapté et de vous conseiller pour le bien de votre vue.
                </div>
            </div>
        </div>

        <div class="above_list_optk on_list">

            <div class="list media-list inset">
                <div class="preloader" ng-show="optics.length<=0"></div>
                <ul ng-show="optics.length>0">
                    <li ng-repeat="optic in optics | filter:search">
                        <div class="f7-icons fleche_bas">arrow_right_circle_fill</div>
                        <div class="optic_distance">2 km</div>
                        <a href="/opticien/{{optic.id}}/" class="item-link item-content">
                            <div class="item-media"><img ng-src="{{optic.image || 'assets/img/no.png'}}" width="48" style="border-radius: 5px;" /></div>
                            <div class="item-inner">
                                <div class="item-title-row" style="margin-top: -6px; font-size:13px;">
                                    <div class="item-title">{{optic.name}}</div>
                                </div>
                                <div class="item-subtitle" style="font-size:12px;">{{optic.Ville}}</div>
                                <div class="item-subtitle of-stars">
                                    <div class="f7-icons star" ng-class="{'shine': optic.stars>=1}">star_fill</div>
                                    <div class="f7-icons star" ng-class="{'shine': optic.stars>=2}">star_fill</div>
                                    <div class="f7-icons star" ng-class="{'shine': optic.stars>=3}">star_fill</div>
                                    <div class="f7-icons star" ng-class="{'shine': optic.stars>=4}">star_fill</div>
                                    <div class="f7-icons star" ng-class="{'shine': optic.stars>=5}">star_fill</div>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>

	</div>
</div>
