.toto {
    position:absolute;
    padding: 20px;
    color: #FFF;
    font-size: 20px;
  }
  .toto span {
    display: block;
    font-size: 11px;
    margin-top: 10px;
  }
  .vision {
    padding: 20px;
    text-transform: uppercase;
    text-align: center;
    font-size: 12px;
  }
  .loim ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .loim ul li {
    display: inline-block;
    width: 50%;
    text-align: center;
  }
  .loim ul li div {
    width:80%;
    border: solid 1px #000;
    margin:0 auto;
    border-radius: 3px;
    padding: 20px 0;
  }
  .loim ul li div img {
    width:90%
  }

.bluebloc {
    margin:10px 25px 12px 25px;
    min-height: 80px;
    background-color: #E6E6E6;
    background-image: linear-gradient(to right, #F0F0F0, #E7E7E7);
    border-radius: 10px;
    box-shadow: 3px 2px 4px #bdbdbd;
}
.bluebloc:hover {
    background-color: #1c59b8;
    background-image: linear-gradient(to right, #1165BC, #1A3D87);
    cursor: pointer;
    box-shadow: 3px 2px 4px #1c59b8;
}

.bluebloc .indic {
    line-height: 80px;
    margin-left: 20px;
    font-size: 18px;
    color: #000;
    font-weight: 400;
}
.bluebloc:hover .indic {
    color: #FFF;
}

.md .tabbar-label {
    color: #000;
    font-size: 11px !important;
}

.toolbar-inner .icon {
    width: 34px !important;
    height: 34px !important;/*
    border: solid 1px #000;*/
    border-radius: 50%;
    text-align: center;
    line-height: 34px;
}

.searchpro {
    padding: 20px 10px 10px 10px;
}
.searchpro input {
    width: 100%;
    padding: 15px 10px 15px 10px !important;
    border: solid 1px #555 !important;
    border-radius: 25px !important;
    text-indent: 40px;
}

.brayblock {
    background-color: #3C3C3B;
    padding: 20px;
    color:#FFF;
    font-size: 16px;
}
.brayblock span {
    background-color: #FFF;
    color: #000;
    padding: 2px 5px;
    font-size: 14px;
}

.tableStyle {
    width:90%;
    margin:0 auto;
    margin-top:20px;
}
.tableStyle .text-1 {
    font-size: 16px;
    display: block;
    text-align: center;
}
.tableStyle .text-2 {
    font-size: 11px;
    display: block;
    text-align: center;
}

.glassItem {
    width:90%;
    margin: 0 auto;
    border: solid 1px #CCC;
    min-height: 80px;
    margin-top:10px;
    margin-bottom: 8px;
    border-radius: 10px;
}

.kpm {
    position: absolute;
    font-size: 50px !important;
    right: 30px;
    margin-top: 10px;
    color: #000;
    overflow: hidden;
    margin-right: -5px;
}

.bluebloc:hover .kpm {
    color: #FFF;
}
.kpm img {
    width: 50px;
}

.md .tabbar-labels .tab-link, .md .tabbar-labels .link {
    padding-bottom: 6px;
}

.tabs.opt .page-content.tab {
    padding-top: 0;
    padding-bottom: 240px;
}

.around_login {
    border:solid 1px #888;
    border-radius: 7px;
    padding: 20px 15px;
    margin:100px 15px 0 15px;
}
.around_login .logoLiftr {
    margin-top:-95px;
    text-align: center;
}
.around_login .logoLiftr img {
    width:110px;
}


.no-before:before {
	display: none !important;
}
.no-after:after {
	display: none !important;
}

.list ul:after {
    height:0 !important;
}
.list ul:before {
    height:0 !important;
}

.profile_blue_area {
    width: 100%;
    color:#FFF;
    padding:10px 20px;
    /*min-height: 200px;*/
    padding-bottom: 100px;
    background-image: linear-gradient(to right, #1459AC, #1A3D87);
}
.profile_blue_area .pf_full_name {
    font-size: 25px;
    margin-bottom: 8px;
}
.profile_blue_area .pf_email {
    font-size:12px;
}
.profile_blue_area .pf_phone {
    font-size:12px;
}
.profile_blue_area .pf_help {
    position: absolute;
    margin-top: 4px;
    right: 20px;
}
.profile_blue_area ul {
    margin:0;
    padding:0;
    list-style-type: none;
    text-align: center;
    margin-top: 20px;
}
.profile_blue_area ul li {
    display: inline-block;
    background-color: #1A2A84;
    margin-right: 10px;
    border-radius: 4px;
    padding: 10px 0;
    width:115px;
    cursor: pointer;
}
.profile_blue_area ul li:nth-child(even) {
    background-color: #1B1464;
}
.profile_blue_area ul li img {
    height: 20px;
}

.profile_white_above {
    background-color: #FFF;
    border-radius: 45px;
    margin-top: -70px;
    min-height: 150px;
    padding: 15px;
}
.profile_white_above ul {
    list-style-type: none;
    margin:0;
    padding: 0 15px;
    margin-top:5px;
}
.profile_white_above ul li {
    margin-bottom: 26px;
}
.profile_white_above ul li div {
    position: absolute;
}
.profile_white_above ul li div img {
    height: 15px;
}
.profile_white_above ul li span {
    display: block;
    margin-left: 40px;
    cursor: pointer;
}
.profile_white_above ul li span.red {
    color:red;
}
.profile_white_above ul li span.gray {
    color:#CCC;
    font-size: 12px;
}

.rdv_list {
    background-color: #1459AC;
}
.rdv_list ul {
    list-style-type: none;
    margin:0;
    padding: 0;
}
.rdv_list ul li {
    display: inline-block;
    color: #FFF;
    padding: 13px;
    width: 42%;
    text-align: center;
    cursor: pointer;
}
.rdv_list ul li.active {
    border-bottom: solid 2px #FFF;
}

.place_icon {
    position: absolute;
    color: #FFF;
    margin: 4px 0 0 10px;
    z-index: 99;
}

.op_text_circle {
    background-color: #FFF;
    border-radius: 15px;
    padding: 10px 20px;
    margin-top:15px;
}
.op_text_circle .title {
    color: #1459AC;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
}
.op_text_circle .content {
    color:#3C3C3B;
}


.above_list_optk {
    min-height: 350px;
    border-radius: 45px 45px 0px 0px;
    background-color: #FFF;
    margin-top: -60px;
    padding-top: 1px;
    padding-bottom: 70px;
}
.above_list_optk .media-list {
    margin-top: 20px;
    text-align: center;
}
.above_list_optk ul {
    text-align: left;
}
.above_list_optk ul li .item-title {
    text-transform: uppercase;
}
.above_list_optk ul li .item-subtitle {
    color:#CCC;
}

.above_list_optk ul li .item-media {
    border-radius:4px;
    overflow: hidden;
}

.above_list_optk .media-list .item-link .item-title-row:before, li.media-item .item-link .item-title-row:before {
    display: none;
}

.fleche_bas {
    position: absolute;
    color: #1459AC;
    right: 0;
    margin-top: 39px;
    font-size: 20px;
}

.optic_distance {
    position: absolute;
    right: 0;
    font-size: 12px;
    margin-top: 15px;
    color:#555;
}

.bulle_green {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #098FA1;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: -2px;
}

.clr-active {
    color: #1A2A84 !important;
}

.toolbar-bottom .toolbar-inner a div img {
    height: 27px;
}

.opticien_blue_area {
    width: 100%;
    color: #FFF;
    padding-bottom: 100px;
    background-image: linear-gradient(to right, #1459AC, #1A3D87);
}

.opticien_blue_area .imgr {
    text-align: center;
}
.opticien_blue_area .imgr img {
    height: 120px;
}
.opticien_blue_area .contr {
    text-align: left;
}

.opticien_blue_area .contr .optic_title {
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 10px;
}
.opticien_blue_area .contr table {
    
}
.opticien_blue_area .contr table tr {
    
}
.opticien_blue_area .contr table tr td {
    font-size:10px;
}
.opticien_blue_area .contr table tr td div {
    border-radius: 5px;
    overflow: hidden;
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-right: 10px;
}
.opticien_blue_area .contr table tr td div img {
    width: 100%;
}
.opticien_blue_area .contr .opt_adr {
    margin-top:10px;
    font-size:11px;
}
.opticien_blue_area .contr .opt_web {
    margin-top:10px;
    font-size:11px;
    color: #098FA1;
}

.optic_title {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.optic_expertize {
    font-size: 12px;
    color:#CCC;
    margin-bottom: 10px;
}

.above_list_optk.on_opticien .f7-icons.star {
    font-size: 20px;
    color: #FCEA0D;
}
.above_list_optk.on_opticien .f7-icons.star.gray {
    font-size: 20px;
    color: #D9D9D9;
}

.optic_tit_cat {
    text-transform: uppercase;
    color:#1c59b8;
    letter-spacing:2px;
    margin-top:15px;
    margin-bottom: 10px;
    font-weight: 500;
}

.optic_scrolling_div {
    width: 100%;
    overflow-x: scroll;
}
.optic_scrolling_div > div  {
    width: 1800px;
}
.optic_scrolling_div > div ul {
    list-style-type: none;
}
.optic_scrolling_div > div ul li {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-color: #CCC;
    margin-right: 10px;
    font-size: 10px;
    text-align: center;
}

.opt_info_resistance {
    background-color: #CCC;
    border-radius: 60px;
    margin-top:20px;
    color: #1459AC;
}

.opticien_gray_area {
    min-height: 350px;
    border-radius: 45px 45px 0px 0px;
    background-color: #F2F2F2;
    margin-top: -60px;
    padding-top: 1px;
    padding-bottom: 70px;
}

.opticien_gray_area ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.opticien_gray_area ul li {
    display: inline-block;
    width: 75px;
    height: 75px;
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 3px 2px 4px #bdbdbd;
    margin-right: 10px;
    overflow: hidden;
}
.opticien_gray_area ul li img {
    width: 100%;
}